<%= form_for(@article) do |a| %>

    <%= a.label :title%>
    <%= a.text_field :title %>

    <%= a.label :content %>
    <%= a.text_field :content %>

    <%= a.submit "Submit" %>
  <% end %>
<p><%= link_to "Back to all articles", articles_path %></p>
